.report{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 2% 0 2% 0 ;
    border-bottom: 10px double black;
    font-family: 'Caveat', cursive;
    font-family: 'Fuzzy Bubbles', cursive;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    writing-mode: horizontal-tb;
}
.home{
    background-color: #3c3827d7;
    padding: 8px;
    border-radius: 10px;
    color: #fffbe9;
    cursor: pointer;
}
.home:hover{
    background-color: #fffbe9bc;
    color: #3c3827;
}