*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../_img/bg2.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin: 20px 0 20px 0;
}
header img{
    height: 15vh;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Mochiy Pop One', sans-serif;
    color: #3c3827;
    font-size: 15px;

    margin: 15px;

    height: 15vh;
}